<ion-header>
  <ion-navbar color="corEmprestimo">
    <ion-title>Empréstimo para {{emprestimo.nomeUsuarioDevedor}}</ion-title>
    <ion-buttons *ngIf="ehCriador()" end>
      <button ion-button (click)="deletaEmprestimo(emprestimo)" icon-only>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cor-background">
  <ion-list>
    <ion-card>
      <ion-card-header color="corEmprestimo">
        Informações
      </ion-card-header>

      <ion-item>
        <ion-icon name="person" color="corEmprestimo" item-start></ion-icon>
        <h2>
          <strong>Usuário: </strong> {{emprestimo.usuarioDevedor}}</h2>
      </ion-item>
      <ion-item>
        <ion-icon name="cash" color="corEmprestimo" item-start></ion-icon>
        <h2>
          <strong>Valor:</strong> R$ {{emprestimo.valor}}</h2>
      </ion-item>
      <ion-item>
          <ion-icon name="calendar" color="corEmprestimo" item-start></ion-icon>
        <h2>
          <strong>Data:</strong> {{getTextoData()}}</h2>
          </ion-item>
        <ion-item>
            <ion-icon name="clipboard" color="corEmprestimo" item-start></ion-icon>
          <h2>
            <strong>Descrição:</strong> {{emprestimo.descricao}}</h2>
        </ion-item>
    </ion-card>
  </ion-list>
  
  <ion-list>
    <ion-card>
        
      <ion-card-header color="corEmprestimo">
        Acordos
      </ion-card-header>
          <ion-item *ngIf="!existeAcordo()">
            <p style="white-space: normal;" text-center>Nenhum acordo registrado.</p>
          </ion-item>
      
          <ion-item *ngFor="let acordo of emprestimo.acordos">
            <ion-icon name="chatboxes" color="corEmprestimo" item-start></ion-icon>
              <h2> <strong>Data: </strong>{{getTextoDataAcordo(acordo.data)}}</h2>
              <h2> <strong>Hora: </strong>{{acordo.hora}}</h2>
              <h2> <strong>Local: </strong>{{acordo.local}}</h2>
              <h2> <strong>Descrição: </strong>{{acordo.descricao}}</h2>
            <ion-icon name="create" color="corEmprestimo" item-end (click)="editarAcordo(acordo)" style="padding-right:  6%;"></ion-icon>
            <ion-icon name="checkmark" color="corEmprestimo" item-end (click)="fecharAcordo(acordo)" style="padding-right:  4%;"></ion-icon>
          </ion-item>

      <ion-row>
        <ion-col width-50 style="text-align: center">
          <button padding icon-start ion-button round color="corEmprestimo" (click)="modalAdicionaAcordo()">
              <ion-icon name="add"></ion-icon>
            Adicionar acordo
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-row>
      <ion-col width-50 style="text-align: center">
        <button padding icon-start ion-button round color="corPrimaria" (click)="fechaEmprestimo(emprestimo)">
            <ion-icon name="checkmark"></ion-icon>
          Fechar empréstimo
        </button>
      </ion-col>
    </ion-row>

  <ion-fab bottom right *ngIf="ehCriador()">
      <button ion-fab color="corEmprestimo" (click)="modalEditaEmprestimo(emprestimo)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-fab>
</ion-content>