page-financas {

    .financaCredito {
        color: darkblue;
        font-weight: 500;
    }

    .financaDebito {
        color: red;
        font-weight: 500;
    }

    .totalCredito {
        float: right;
        color: darkblue;
        font-weight: 500;
    }

      .totalDebito {
        float: right;
        color: red;
        font-weight: 500;
      }

      .classeMeta {
        padding-left: 5px;
        color: orange;
        font-weight: 500;
    }


}
