<ion-header>
  <ion-navbar color="corPrimaria">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Finanças</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cor-background">

  <button padding ion-button clear icon-start color="corPrimaria" *ngIf="selecionouFinancasGerais" (click)="financasGerais('nao')">
    <ion-icon color="corPrimaria" name="arrow-dropleft"></ion-icon>
    Ver finanças do mês atual
  </button>

<ion-list *ngIf="existeMeta()">
    <ion-card>
        <ion-card-header color="corMeta">
          Suas metas
        </ion-card-header>
    <ion-item *ngFor="let meta of metas">
        <ion-icon *ngIf="retornaCategoria(meta.categoria) == 'Alimentação'" name='pizza' item-start color="corMeta"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(meta.categoria) == 'Vestuário'" name='shirt' item-start color="corMeta"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(meta.categoria) == 'Entretenimento'" name='football' item-start color="corMeta"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(meta.categoria) == 'Bebida'" name='beer' item-start color="corMeta"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(meta.categoria) == 'Supermercado'" name='cart' item-start color="corMeta"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(meta.categoria) == 'Transporte'" name='car' item-start color="corMeta"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(meta.categoria) == 'Eletrônicos'" name='phone-portrait' item-start color="corMeta"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(meta.categoria) == 'Outros'" name='grid' item-start color="corMeta"></ion-icon>
          <h2>Limite de R${{meta.limite}}</h2>
          <p *ngIf="retornaPorcentagemMeta(meta) <= 30" class="financaCredito">{{retornaPorcentagemMeta(meta)}}% gasto</p>
          <p *ngIf="retornaPorcentagemMeta(meta) > 30 && retornaPorcentagemMeta(meta) < 80" class="classeMeta">{{retornaPorcentagemMeta(meta)}}% gasto</p>
          <p *ngIf="retornaPorcentagemMeta(meta) > 80" class="financaDebito">{{retornaPorcentagemMeta(meta)}}% gasto</p>
          <p>Total: R$ {{formataDinheiro(retornaTotalMeta(meta))}}</p>
          <button ion-button color="corEmprestimo" large clear item-end (click)="modalEditaMeta(meta)"><ion-icon name="create"></ion-icon></button>
      <button ion-button color="corDivida" large clear item-end (click)="removeMeta(meta)"><ion-icon name="trash"></ion-icon></button>
    </ion-item>
    </ion-card>
</ion-list>

<ion-list *ngIf="!selecionouFinancasGerais">
  <ion-card>
    <ion-card-header color="corPrimaria" class="item-text-wrap">
      Finanças de {{retornaNomeMes()}}
      <p *ngIf="existeFinanca()" class="totalDebito">Total gasto: R$ {{retornaSomaDebito(financas)}}</p>
      <p> <br> </p>
      <p *ngIf="existeFinanca()" class="totalCredito">Total recebido: R$ {{retornaSomaCredito(financas)}}</p>
    </ion-card-header>

      <ion-item *ngIf="!existeFinanca()">
        <p style="white-space: normal;" text-center>Não há nenhuma finança registrada.</p>
      </ion-item>

      <ion-item *ngFor="let financa of financas">
        <div id="nome" item-start></div>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Alimentação'" name='pizza' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Vestuário'" name='shirt' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Entretenimento'" name='football' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Bebida'" name='beer' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Supermercado'" name='cart' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Transporte'" name='car' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Eletrônicos'" name='phone-portrait' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="financa.categoria == 'Dívida' || financa.categoria == 'Empréstimo'" name='cash' item-start
          color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Outros'" name='grid' item-start color="corPrimaria"></ion-icon>
        <ion-label *ngIf="financa.ehDebito == true">
          <h2>{{financa.descricao}}</h2>
          <div style="overflow: hidden;">
            <p class="financaDebito">R$ {{formataValor(financa.valor)}}</p>
            <p>{{getTextoData(financa)}}</p>
          </div>
        </ion-label>
        <ion-label *ngIf="financa.ehDebito == false">
          <h2>{{financa.descricao}}</h2>
          <div style="overflow: hidden;">
            <p class="financaCredito">R$ {{formataValor(financa.valor)}}</p>
            <p>{{getTextoData(financa)}}</p>
          </div>
        </ion-label>
        <button *ngIf="!(financa.categoria == 'Dívida' || financa.categoria == 'Empréstimo')" ion-button color="corEmprestimo"
          large clear item-end (click)="modalEditaFinanca(financa)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button color="corDivida" large clear item-end (click)="removeFinanca(financa)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="selecionouFinancasGerais">
    <ion-card>
      <ion-card-header color="corPrimaria">
        Finanças gerais
        <p *ngIf="existeFinanca()" class="totalDebito">Total gasto: R$ {{retornaSomaDebito(financas)}}</p>
        <p> </p>
        <p *ngIf="existeFinanca()" class="totalCredito">Total recebido: R$ {{retornaSomaCredito(financas)}}</p>
      </ion-card-header>

      <ion-item *ngIf="!existeFinanca()">
        <p style="white-space: normal;" text-center>Não há nenhuma finança registrada.</p>
      </ion-item>

      <ion-item *ngFor="let financa of financas">
        <div id="nome" item-start></div>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Alimentação'" name='pizza' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Vestuário'" name='shirt' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Entretenimento'" name='football' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Bebida'" name='beer' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Supermercado'" name='cart' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Transporte'" name='car' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Eletrônicos'" name='phone-portrait' item-start color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="financa.categoria == 'Dívida' || financa.categoria == 'Empréstimo'" name='cash' item-start
          color="corPrimaria"></ion-icon>
        <ion-icon *ngIf="retornaCategoria(financa.categoria) == 'Outros'" name='grid' item-start color="corPrimaria"></ion-icon>
        <ion-label *ngIf="financa.ehDebito == true">
          <h2>{{financa.descricao}}</h2>
          <div style="overflow: hidden;">
            <p class="financaDebito">R$ {{formataValor(financa.valor)}}</p>
            <p>{{getTextoData(financa)}}</p>
          </div>
        </ion-label>
        <ion-label *ngIf="financa.ehDebito == false">
          <h2>{{financa.descricao}}</h2>
          <div style="overflow: hidden;">
            <p class="financaCredito">R$ {{formataValor(financa.valor)}}</p>
            <p>{{getTextoData(financa)}}</p>
          </div>
        </ion-label>
        <button *ngIf="!(financa.categoria == 'Dívida' || financa.categoria == 'Empréstimo')" ion-button color="corEmprestimo"
          large clear item-end (click)="modalEditaFinanca(financa)">
          <ion-icon name="create"></ion-icon>
        </button>
        <button ion-button color="corDivida" large clear item-end (click)="removeFinanca(financa)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </ion-card>
  </ion-list>

  <button padding ion-button icon-right clear color="corPrimaria" *ngIf="!selecionouFinancasGerais" (click)="financasGerais('sim')">
    <ion-icon color="corPrimaria" name="arrow-down"></ion-icon>
    Ver todas
  </button>

  <br>
  <br>
  <br>
  <br>

  <ion-fab bottom right #fab>
    <button ion-fab color="corPrimaria">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
        <button ion-fab (click)="modalAdicionaFinanca()" color="corPrimaria">
          <ion-icon name="add" color="light"></ion-icon>
          <ion-label>Registrar transação</ion-label>
        </button>
      <button ion-fab (click)="modalAdicionaMeta()" color="corMeta">
        <ion-icon name="add" color="light"></ion-icon>
        <ion-label>Adicionar meta de gastos</ion-label>
      </button>
  </ion-fab-list>

  </ion-fab>

</ion-content>
