<ion-header>
  <ion-navbar color="corPrimaria">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ativos Financeiros</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content>
    <div padding>
      <ion-segment [(ngModel)]="escolha">
        <ion-segment-button color="corPrimaria" value="dolar">
          Dólar
        </ion-segment-button>
        <ion-segment-button color="corPrimaria" value="outras_moedas">
          Outras moedas
        </ion-segment-button>
        <ion-segment-button color="corPrimaria" value="cotacoes">
          Cotação
        </ion-segment-button>
      </ion-segment>
    </div>
  
    <div [ngSwitch]="escolha">
      <ion-list *ngSwitchCase="'dolar'">
        <ion-item>
          <ion-card>
            <ion-card-header color="corPrimaria">
              Dólar comercial
            </ion-card-header>
            <ion-card-content style="padding:0%;">
              <ion-item>
                <h2>R$ {{dolar}}</h2>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item>
          <ion-card>
            <ion-card-header color="corPrimaria">
              Dólar turismo
            </ion-card-header>
            <ion-card-content style="padding:0%;">
              <ion-item>
                <h2>R$ {{dolarTurismo}}</h2>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item>
          <ion-card>
            <ion-card-header color="corPrimaria">
              Dólar canadense
            </ion-card-header>
            <ion-card-content style="padding:0%;">
              <ion-item>
                <h2>R$ {{dolarCanadense}}</h2>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
  
      <ion-list *ngSwitchCase="'outras_moedas'">
        <ion-item>
          <ion-card>
            <ion-card-header color="corPrimaria">
              Euro comercial
            </ion-card-header>
            <ion-card-content style="padding:0%;">
              <ion-item>
                <h2>R$ {{euro}}</h2>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item>
          <ion-card>
            <ion-card-header color="corPrimaria">
              Libra esterlina
            </ion-card-header>
            <ion-card-content style="padding:0%;">
              <ion-item>
                <h2>R$ {{libraEsterlina}}</h2>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item>
          <ion-card>
            <ion-card-header color="corPrimaria">
              Peso argentino
            </ion-card-header>
            <ion-card-content style="padding:0%;">
              <ion-item>
                <h2>R$ {{pesoArgentino}}</h2>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item>
        <ion-item>
          <ion-card>
            <ion-card-header color="corPrimaria">
              Bitcoin
            </ion-card-header>
            <ion-card-content style="padding:0%;">
              <ion-item>
                <h2>R$ {{bitcoin}}</h2>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
  
      <ion-list *ngSwitchCase="'cotacoes'">
        <ion-item>
          <!--<ion-card>
            <ion-card-header color="corPrimaria">
              Cotação das moedas
            </ion-card-header>
            <ion-card-content style="padding:0%;"> -->
              <ion-item>
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                  <div class="tradingview-widget-container__widget"></div>
                  <div class="tradingview-widget-copyright"><a href="https://br.tradingview.com/symbols/FX-EURUSD/" rel="noopener"
                      target="_blank"><span class="blue-text">EURUSD Preços</span></a> por TradingView</div>
                  <script src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js">
                  </script>
                </div>
                <!-- TradingView Widget END -->
              </ion-item>
        </ion-item>
      </ion-list>
    </div>
  
  </ion-content>

