<ion-header>
  <ion-navbar color="corPrimaria">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sobre</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cor-background">
  <ion-avatar>
    <img src="assets/imgs/cmd.png">
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      Equipe
    </ion-card-header>
    <ion-item>
      <h2>Desenvolvedores - P1 2018.2</h2>
      <p>Victor Emanuel</p>
      <p>Ruan Silveira</p>
      <p>Gabriel Maracajá</p>
      <p>Ronaldo Medeiros</p>
      <p>Vinícius Medeiros</p>
      <p>Lucas Fernandes</p>
    </ion-item>
    <ion-item>
      <h2>Analistas financeiros - ETI 2018.2</h2>
      <p>Victor Emanuel</p>
      <p>Adbys</p>
      <p>Caio Vidal</p>
      <p>Ruan Silveira</p>
      <p>Lucas Henrique</p>
      <p>Raquel Rufino</p>
    </ion-item>
    <ion-item>
      <h2>Desenvolvedores/Gestores - LES 2018.1</h2>
      <p>Victor Emanuel</p>
      <p>Mattheus Brito</p>
      <p>Adbys</p>
      <p>Caio Vidal</p>
      <p>Wesley</p>
      <p>Alice</p>
      <p>Pedro Henrique</p>
    </ion-item>
  </ion-card>
</ion-content>